<!-- =========================
     ÜBER MICH
     ========================= -->

<section class="home-about">
  <div class="page-inner home-about__grid">

<div class="home-about__visual">
  <img
    class="home-about__photo"
    src="/Fotos/ueber_mich_home.jpg"
    alt="Jana Wanzek"
  >
</div>

    <div class="home-about__content">

      <p class="home-about__label">
        ÜBER MICH
      </p>

      <h2>
      Psychologie.<br>
      <span class="no-break">Personalentwicklung.</span><br>
      Gleichstellung.
      </h2>

      <p class="home-about__text">
        Ich bin Jana Wanzek, Wirtschaftspsychologin, systemische Coachin und Organisationsberaterin.
        In meiner Arbeit verbinde ich psychologisches Wissen mit Erfahrung
        aus der Personalentwicklung und meiner Expertise rund um Gleichstellung
        und Chancengerechtigkeit. Dabei geht es mir darum, Menschen und
        Organisation gemeinsam in den Blick zu nehmen.
      </p>

      <a href="/ueber-mich" class="home-about__button">
        Mehr über mich
      </a>

    </div>

  </div>
</section>