<!-- =========================
     KUND:INNEN / LOGOS
     ========================= -->

<section class="home-clients">
  <div class="page-inner">

    <div class="home-clients__header">
      <p class="home-clients__label">
        AUSWAHL AN KUND*INNEN
      </p>

      <h2>
        Mit diesen Organisationen<br>
        habe ich bereits zusammen gearbeitet.
      </h2>

    </div>


    <div class="client-logos">

  <a
    class="client-logo"
    href="https://www.starthaus-bremen.de/de/page/programme/coachingprogramm"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Website der BAB öffnen"
  >
    <img src="/logos/BAB.png" alt="BAB">
  </a>

  <a
    class="client-logo"
    href="https://brynja-raum.de/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Website von Brynja öffnen"
  >
    <img src="/logos/brynja.png" alt="Brynja">
  </a>

  <a
    class="client-logo"
    href="https://www.meine-gesundheit-staerken.de/land-bremen"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Website der LVG öffnen"
  >
    <img src="/logos/LVG.png" alt="LVG">
  </a>

  <a
    class="client-logo"
    href="https://www.phasenweise.org/trainerinnennetzwerk"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Website von Phasenweise öffnen"
  >
    <img src="/logos/Phasenweise.png" alt="Phasenweise">
  </a>

</div>